.nav-bar {
	display: grid;
	margin: -0.5em -0.5em 0;
	font-size: 1.5em;
	background-color: black;
	color: white;
}

.nav-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-bar ul li {
	float: left;
}

.nav-bar ul #home {
	font-weight: 600;
}

.nav-bar ul li a {
	display: block;
	padding: 0.75em 1em;
	color: white;
	text-align: center;
	text-decoration: none;
}

.nav-bar ul #right-aligned:hover {
	background-color: #9b9b9b;
}

ul #right-aligned {
	float: right;
	font-weight: 500;
}

.main-body {
	background-color: white;
	padding: 6.5em 3em;
}

.wrapper {
	display: grid;
	grid-template-columns: auto 37% auto 37% auto;
	grid-auto-rows: 300px;
	gap: 1em;
}

.box {
	display: grid;
	padding: 1em;
	border: 2px solid;
	border-color: #c6c5c5;
	border-radius: 30px;
	background-color: #f1f1f1;
}

.box h2 {
	margin: 0.5em 1em 1em;
	font-weight: 700;
}

.form-box {
	width: 40%;
	margin: 0 auto 0;
}

.form-box form {
	margin: 2em 0 1em;
}

form .form-type {
	display: block;
	padding: 0.25em 1em;
}

/*.form-type input[type="radio"] {
	display: grid;
	place-content: center;
	appearance: none;
	background-color: #ffffff;
	margin: 0;
	font: inherit;
	color: black;
	width: 0.8em;
	height: 0.8em;
	border: 2px solid #c6c5c5;
	border-radius: 50%;
}

.form-type input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(#f1f1f1);
}

.form-type input[type="radio"]:checked::before {
  transform: scale(1);
}
*/

.external-job, .internal-job {
	display: grid;
	padding: 0 1.5em;
}

.external-job label, .internal-job label, .internal-job .internal-radio {
	padding-top : 0.25em;
	padding-bottom: 0.25em;
}

.external-job input[type="text"], .internal-job input[type="text"] {
	padding: 0.5em;
}

.form-button {
	float: right;
	margin: 1.5em 1.5em 0.5em 0;
}

.box-wrapper {
	display: grid;
	grid-template-columns: 48.974% 48.974%;
	grid-auto-rows: auto;
	gap: 1em;
}

.inner-box {
	border: 2px solid;
	border-color: #c6c5c5;
	border-radius: 30px;
	background-color: #cecece;
	padding: 1em;
}

th {
	text-align: left;
}

td img {
	width: 25px;
	height: 27px;
}

.left-box {
	grid-column: 2;
}

.right-box {
	grid-column: 4;
}

.center {
	text-align: center;
}

#header {
	display: grid;
	width: 100%;
	height: 100%;
}

#header h1 {
	font-size: 3.5em;
	margin: auto;
}

#header h1:hover {
	font-weight: 600;
}

.footer {
	display: grid;
	margin: 0 -0.5em -0.5em;
	font-size: 1em;
	background-color: #f1f1f1;
	color: black;
}

.footer p {
	padding-left: 1.5em;
}

.footer p a {
	text-decoration: none;
}