.nav-bar {
	display: grid;
	margin: -0.5em -0.5em 0;
	font-size: 1.5em;
	background-color: black;
	color: white;
}

.nav-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-bar ul li {
	float: left;
}

.nav-bar ul #home {
	font-weight: 600;
}

.nav-bar ul li a {
	display: block;
	padding: 0.75em 1em;
	color: white;
	text-align: center;
	text-decoration: none;
}

.nav-bar ul #right-aligned:hover {
	background-color: #9b9b9b;
}

ul #right-aligned {
	float: right;
	font-weight: 500;
}

.drop-down {
	overflow: hidden;
}

.drop-down .drop-button {
	font-size: inherit;
	font-family: inherit;
	background-color: inherit;
	padding: 0.75em 1em;
	color: white;
	text-align: center;
	border: none;
	outline: none;
}

.nav-bar ul .drop-content {
	display: none;
	position: absolute;
	background-color: #9b9b9b;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	min-width: 100px;
	z-index: 1;
}

.nav-bar ul .drop-content a {
	float: none;
	color: white;
	padding: 12px 12px;
	font-size: 20px;
	text-decoration: none;
	display: block;
	text-align: right;
}

.nav-bar ul .drop-content a:hover {
	background-color: black;
}

.drop-down:hover .drop-content {
	display: block;
	font-weight: 400;
}

.main-body {
	background-color: white;
	padding: 6.5em 3em;
}

.box {
	display: grid;
	padding: 1em 1.5em 2em;
	border: 2px solid;
	border-color: #c6c5c5;
	border-radius: 30px;
	background-color: #f1f1f1;
}

.box h2 {
	margin: 0.5em 1em 1em;
	font-weight: 700;
}

.box .form-header {
	margin: 0.5em 1em 0.25em;
	font-weight: 700;
}

.box + .box {
	margin: 1em 0;
}

.box-table {
	padding: 0.4em;
}

.button-univ {
	background-color: black;
	color: whitesmoke;
	border-radius: 5px;
	padding-top: 10%;
	padding-bottom: 10%;
	width: 110%;
}

.floating-button {
	position: fixed;
}

.form-box {
	width: 40%;
	margin: 0 auto 0;
}

.form-box form {
	margin: 2em 0 1em;
}

.external-job, .internal-job {
	display: grid;
	padding: 0 1.5em;
}

.external-job label, .internal-job label, .internal-job .internal-radio {
	padding-top : 0.25em;
	padding-bottom: 0.25em;
}

.external-job input[type="date"], .internal-job input[type="date"] {
	padding: 0.5em;
	font-family: "Segoe UI", sans-serif;
}

.external-job input[type="text"], .internal-job input[type="text"] {
	padding: 0.5em;
}

.form-button {
	float: right;
	margin: 1.5em 1.5em 0.5em 0;
}

.box-wrapper {
	display: grid;
	grid-template-columns: 48.974% 48.974%;
	grid-template-rows: auto auto;
	grid-auto-flow: columns; 
	grid-gap: 1em;
}

.box-wrapper .internal-box {
	padding: 0.5em 1em;
}

.inner-box {
	border: 2px solid;
	border-color: #c6c5c5;
	border-radius: 30px;
	background-color: #cecece;
	padding: 1em;
}

.inner-box th, td {
	border-radius: 30px;
	padding: 0.6em;
}

#table-content th {
	padding-left: 2.5em;
}

th {
	text-align: left;
}

td img {
	width: 25px;
	height: 27px;
}

.download-wip {
	bottom: 27px;
	right: 40px;
}

.left-box {
	grid-column: 2;
}

.right-box {
	grid-column: 4;
}

.center {
	text-align: center;
}

#header {
	display: grid;
	width: 100%;
	height: 100%;
}

#header h1 {
	font-size: 3.5em;
	margin: auto;
}

#header h1:hover {
	font-weight: 600;
}

.footer {
	display: grid;
	margin: 0 -0.5em -0.5em;
	font-size: 1em;
	background-color: #f1f1f1;
	color: black;
}

.footer p {
	padding-left: 1.5em;
}

.footer p a {
	text-decoration: none;
}