</!DOCTYPE html>
<html>
	<head>
		<title>Daily Job Update</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='copy_style.css') }}">
	</head>
	<body style="font-family: 'Segoe UI', sans-serif;">
		<div class="nav-bar">
			<ul>
				<li id="home">
					<a href="#">Daily Job Update</a> 
				</li>
				<li style="font-weight: 600;">
                    <a href="{{ url_for('wip')}}">Daftar WIP</a>
                </li>
				<li class="drop-down" id="right-aligned">
					<button class="drop-button">Input</button>
					<div class="drop-content">
						<a href="{{ url_for('internal_job_input')}}">Internal</a>
						<a href="{{ url_for('external_job_input')}}">Eksternal</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="main-body" style="padding: 2em;">
			{% for date in working_date %}
			<div class="box">
				<h2>{{ date }}</h2>
				<div class="box-wrapper">
					{% if date in external_jobs %}
						{% for job in external_jobs[date] %}
							<div class="inner-box">
								<table>
									<tr>
										<th>External {{ job.location }}</th>
									</tr>
									<tr>
										<td class="center"><img src="{{ url_for('static', filename='icons8-business-report-53.png') }}"></td>
										<td>{{ job.project_name }}</td>
									</tr>
									<tr>
										<td class="center"><img src="{{ url_for('static', filename='icons8-employee-53.png')}}"></td>
										<td>{{ job.members }}</td>
									</tr>
									<tr>
										<td class="center"><img src="{{ url_for('static', filename='icons8-glyph-96.png') }}"></td>
										<td>{{ job.ride }}</td>
									</tr>
									<tr>
										<td class="center"><img src="{{ url_for('static', filename='icons8-project-time-53.png') }}"></td>
										<td>{{ job.funds }}</td>
									</tr>
									<tr>
										<td class="center"><img src="{{ url_for('static', filename='icons8-dollar-coins-53.png') }}"></td>
										<td>{{ job.time }}</td>
									</tr>
								</table>
							</div>
						{% endfor %}
					{% endif %}
					{% if date in internal_jobs %}
						<div class="inner-box internal-box">
							<table>
								<tr>
									<th>Internal Job & Lainnya</th>
								</tr>
								{% for job in internal_jobs[date] %}
									{% if job.project_name is defined and job.project_name != '' %}
										<tr>
											<td class="center"><img src="{{ url_for('static', filename='icons8-glyph-arrow-96.png') }}"></td>
											<td>{{ job.name }} - {{ job.project_name }}</td>
										</tr>
									{% else %}
										<tr>
											<td class="center"><img src="{{ url_for('static', filename='icons8-glyph-arrow-96.png') }}"></td>
											<td>{{ job.name }} - {{ job.status }}</td>
										</tr>
									{% endif %}
								{% endfor %}
							</table>
						</div>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="footer">
			<p>Icons by <a target="_blank" href="https://icons8.com">Icons8</a></p>
		</div>
	</body>
</html>

