</!DOCTYPE html>
<html>
	<head>
		<title>Daily Job Update</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='copy_style.css') }}">
	</head>
	<body style="font-family: 'Segoe UI', sans-serif;">
		<div class="nav-bar">
			<ul>
				<li id="home">
					<a href="#">Daily Job Update</a> 
				</li>
				<li class="drop-down" id="right-aligned">
					<button class="drop-button">Input</button>
					<div class="drop-content">
						<a href="{{ url_for('internal_job_input')}}">Internal</a>
						<a href="{{ url_for('external_job_input')}}">Eksternal</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="main-body" style="padding: 2em;">
			<div class="box">
				<h2>Senin, 6 Februari 2023</h2>
				<div class="box-wrapper">
					<div class="inner-box">
						<table>
							<tr>
								<th>External Kayaba</th>
							</tr>
							<tr>
								<td class="center"><img src="{{ url_for('static', filename='icons8-business-report-53.png') }}"></td>
								<td>Piston Rod Cleaning, Table Assy for Piston Assy</td>
							</tr>
							<tr>
								<td class="center"><img src="{{ url_for('static', filename='icons8-employee-53.png')}}"></td>
								<td>Asep, Wawan & Ferry</td>
							</tr>
							<tr>
								<td class="center"><img src="{{ url_for('static', filename='icons8-glyph-96.png') }}"></td>
								<td>Datsun B 1207 KRV</td>
							</tr>
							<tr>
								<td class="center"><img src="{{ url_for('static', filename='icons8-project-time-53.png') }}">
								</td>
								<td>Rp. 300,000,-</td>
							</tr>
							<tr>
								<td class="center"><img src="{{ url_for('static', filename='icons8-dollar-coins-53.png') }}"></td>
								<td>09:00 - Selesai</td>
							</tr>
						</table>
					</div>
					<div class="inner-box">
						<table>
							<tr>
								<th>External AII,FTR & AJT</th>
							</tr>
							<tr>
								<td class="center"><img src="{{ url_for('static', filename='icons8-business-report-53.png') }}"></td>
								<td>Invoice AII, FTR & Parts AJT</td>
							</tr>
							<tr>
								<td class="center"><img src="{{ url_for('static', filename='icons8-employee-53.png')}}"></td>
								<td>Bari</td>
							</tr>
							<tr>
								<td class="center"><img src="{{ url_for('static', filename='icons8-glyph-96.png') }}"></td>
								<td>Beat Pop</td>
							</tr>
							<tr>
								<td class="center"><img src="{{ url_for('static', filename='icons8-project-time-53.png') }}"></td>
								<td>Rp. 400,000,-</td>
							</tr>
							<tr>
								<td class="center"><img src="{{ url_for('static', filename='icons8-dollar-coins-53.png') }}"></td>
								<td>09:45 - Selesai</td>
							</tr>
						</table>
					</div>
					<div class="inner-box">
						<table>
							<tr>
								<th>External Glodok</th>
							</tr>
							<tr>
								<td class="center"><img src="{{ url_for('static', filename='icons8-business-report-53.png') }}"></td>
								<td>Belanja Bahan Baku</td>
							</tr>
							<tr>
								<td class="center"><img src="{{ url_for('static', filename='icons8-employee-53.png')}}"></td>
								<td>Widodo</td>
							</tr>
							<tr>
								<td class="center"><img src="{{ url_for('static', filename='icons8-glyph-96.png') }}"></td>
								<td>Revo B 3429 KCY</td>
							</tr>
							<tr>
								<td class="center"><img src="{{ url_for('static', filename='icons8-project-time-53.png') }}"></td>
								<td>Rp. 3,000,000,-</td>
							</tr>
							<tr>
								<td class="center"><img src="{{ url_for('static', filename='icons8-dollar-coins-53.png') }}"></td>
								<td>09:45 - Selesai</td>
							</tr>
						</table>
					</div>
					<div class="inner-box">
						<table>
							<tr>
								<th>Internal Jobdesc & Lainnya</th>
							</tr>
							<tr>
								<td class="center"><img src="{{ url_for('static', filename='icons8-glyph-arrow-96.png') }}"></td>
								<td>P. Yani - Sakit</td>
							</tr>
							<tr>
								<td class="center"><img src="{{ url_for('static', filename='icons8-glyph-arrow-96.png') }}"></td>
								<td>Deni - Cuti</td>
							</tr>
							<tr>
								<td class="center"><img src="{{ url_for('static', filename='icons8-glyph-arrow-96.png') }}"></td>
								<td>Sukron - Modif Tangga</td>
							</tr>
							<tr>
								<td class="center"><img src="{{ url_for('static', filename='icons8-glyph-arrow-96.png') }}"></td>
								<td>A.Muchlis - Table Nut Runner</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<p>Icons by <a target="_blank" href="https://icons8.com">Icons8</a></p>
		</div>
	</body>
</html>

