<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Daftar WIP (Work In Progress) dan Pengeluaran</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='copy_style.css') }}">
    </head>
    <body style="font-family: 'Segoe UI', sans-serif;">
        <div class="nav-bar">
            <ul>
                <li style="font-weight: 600;">
                    <a href="{{ url_for('home') }}">Daily Job Update</a>
                </li>
                <li id="home">
                    <a href="#">Daftar WIP</a>
                </li>
                <li id="right-aligned">
					<a href="{{ url_for('home') }}">Home</a>
				</li>
            </ul>
        </div>
        <div class="main-body" style="padding: 2em;">
            <div class="box box-table">
                <table>
                    <tr class="inner-box">
                        <th class="center">No.</th>
                        <th class="center">WIP (Work In Progress)</th>
                        <th class="center">Pengeluaran Projek</th>
                    </tr>
                    <tbody>
                        {% set count = namespace(value=1) %}
                        {% for data in data %}
                        {% set unnamed = data.namaAkun.endswith(" ") or data.namaAkun.endswith("-") %}
                        <tr class="inner-box">
                            {% if not unnamed: %}
                                <td>{{count.value}}.</td>
                                <td>{{data.namaAkun}}</td>
                                <td class="center">{{data.neracaSaldoDebet}}</td>
                                {% set count.value = count.value + 1 %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="floating-button download-wip">
                <button class="button-univ">Update Data WIP</button>
            </div>
        </div>
    </body>
</html>
