<!DOCTYPE html>
<html>
	<head>
		<title>Input Job Eksternal</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='copy_style.css') }}">
	</head>
	<body style="font-family: 'Segoe UI', sans-serif;">
		<div class="nav-bar">
			<ul>
				<li id="home">
					<a href="#">Input Job</a> 
				</li>
				<li>
                    <a href="{{ url_for('wip')}}">Daftar WIP</a>
                </li>
				<li id="right-aligned">
					<a href="{{ url_for('home') }}">Home</a>
				</li>
			</ul>
		</div>
		<div class="main-body" style="padding: 2em;">
			<div class="box form-box">
				<h2>Form Job Eksternal</h2>
				<form action="#">
					<div class="external-job">
						<label for="project-name">Nama Proyek</label>
						<input type="text" id="project-name" name="project-name" placeholder="Misal: TBINA - Pok. Andon Welder Press"/>
					</div>
					<div class="external-job">
						<label for="member-name">Nama Anggota</label>
						<input type="text" id="member-name" name="member-name"/>
					</div>
					<div class="external-job">
						<label for="ride">Kendaraan yang Dipakai</label>
						<input type="text" id="ride" name="ride" placeholder="Nama Mobil - Plat No"/>
					</div>
					<div class="external-job">
						<label for="funds">Jumlah Uang Muka</label>
						<input type="text" id="funds" name="funds" placeholder="Misal: Rp. 300.000,-"/>
					</div>
					<div class="external-job">
						<label for="time">Jam Mulai - Selesai</label>
						<input type="text" id="time" name="time" placeholder="Misal: 09:00-17:00"/>
					</div>
					<div class="form-button">
						<button class="button-univ" type="submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>